
<h1><%= @cocktail.name %></h1>
<% if @cocktail.photo.present?%>
  <p>
    <%= image_tag("#{@cocktail.photo}",
        width: 400, height: 300, crop: :fill) %>
  </p>
<% else %>
  <p>
    <%= image_tag("https://source.unsplash.com/600x600/?cocktail, beverages, #{@cocktail.name}",
        width: 400, height: 300, crop: :fill) %>
  </p>
<% end %>
<p>
  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "Delete this dose", dose_path(dose), class: "btn btn-primary", method: :delete %>
    </p>
  <% end %>
</p>
<div>
    <%= link_to "Add a dose to this cocktail", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
</div>
<div>
    <%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-primary" %>
</div>

